@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/open-sans");
@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("https://fonts.cdnfonts.com/css/segoe-ui-4");

@import "tailwindcss";

@custom-variant hover (&:hover);

@theme {
  --font-pj: "Plus Jakarta Sans", sans-serif;
  --font-open: "Open Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-segoe: "Segoe UI", sans-serif;
}

/* plus jakarta = title */
/* open sans = body */
/* montserrat = label */

@layer utilities {
  .squircle {
    border-radius: 35px;
    corner-shape: squircle;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
