/* @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/open-sans"); */

@import "tailwindcss";

@custom-variant hover (&:hover);

/* @theme {
  --font-pj: "Plus Jakarta Sans", sans-serif;
  --font-open: "Open Sans", sans-serif;
} */

@theme {
  --font-pj: "Plus Jakarta Sans", system-ui, sans-serif;
  --font-poppins: "Poppins", system-ui, sans-serif;

  /* --animate-reveal-icon: reveal-icon-in;
  --animate-reveal-icon-out: reveal-icon-out; */
  @keyframes reveal-icon-in {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes reveal-icon-out {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-6px);
    }
  }
}

/* plus jakarta = title */
/* open sans = body */
/* montserrat = label */

@layer utilities {
  .squircle {
    border-radius: 35px;
    corner-shape: squircle;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Plus Jakarta Sans */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/font/Plus_Jakarta_Sans_use/PlusJakartaSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/font/Plus_Jakarta_Sans_use/PlusJakartaSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/font/Plus_Jakarta_Sans_use/PlusJakartaSans-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/font/Plus_Jakarta_Sans_use/PlusJakartaSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/font/Plus_Jakarta_Sans_use/PlusJakartaSans-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-display: swap;
}

/* Poppins */
@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins_use/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins_use/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins_use/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins_use/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins_use/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins_use/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}
